{% extends "base.html" %}

{% block title %}My Books{% endblock %}

{% block content %}
<h1>My Books</h1>

<ul class="list-group">
    {% for book in books %}
        <li class="list-group-item">
            <strong>{{ book.title }}</strong> by {{ book.author }}<br>
            <p>{{ book.description }}</p>
            <p>Published on: {{ book.published_date }}</p>

            <!-- Кнопка для удаления книги -->
            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger btn-sm float-end" onclick="return confirm('Are you sure you want to delete this book?')">Delete</a>
        </li>
    {% empty %}
        <li class="list-group-item">You don't have any books yet.</li>
    {% endfor %}
</ul>
{% endblock %}
